/** import sass modules **/
/**couleurs**/
/**** MIXIN Ellipsis ****/
@keyframes delete {
  from {
    height: 100vh;
    width: 100%;
  }
  to {
    height: 0vh;
    width: 0%;
  }
}
@keyframes delay-show {
  from {
    transform: scale(0);
    position: fixed;
  }
  to {
    transform: scale(1);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
@keyframes cards-load {
  from {
    transform: translateY(-70%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/*******************PAGES RESTAURANTS**********************/
.arrow-left {
  position: absolute;
  top: 19px;
  left: 22px;
  font-weight: bold;
  color: #353535;
  font-size: 22px;
  cursor: pointer;
}

/*SECTION HEADER*/
.h-palette {
  width: 100%;
  margin: 0;
}
.h-palette__img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1024px) {
  .h-palette__img {
    width: 100%;
    height: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .h-palette__img {
    width: 100%;
    height: 275px;
  }
}

/*MAIN SECTION MENU*/
.menu-container {
  background: #F7F7F7;
  width: 100%;
  border-radius: 20px 20px 0 0;
  top: -50px;
  position: relative;
  margin-bottom: -50px;
}
@media screen and (min-width: 1024px) {
  .menu-container {
    width: 1025px;
    margin: 0 auto -50px auto;
  }
}

.page-container .navigation {
  height: auto;
}
.page-container .navigation__logo {
  margin-bottom: -1px;
}

.menu {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /************************************CHECKED **************************/
}
.menu__title {
  /*width: 307px;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .menu__title {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menu__title {
    justify-content: center;
  }
}
.menu__title .heart-bloc {
  position: relative;
  width: 50px;
  height: 50px;
}
.menu__title h1 {
  font-weight: 400;
  font-size: 27px;
  line-height: 41px;
  color: #101010;
  padding-left: 15px;
  font-family: "Shrikhand", cursive;
}
.menu__title .heart-empty {
  position: absolute;
  top: 13px;
  right: 25px;
  font-size: 23px;
  color: transparent;
  -webkit-text-stroke: 1px #000000;
}
@media screen and (min-width: 1024px) {
  .menu__title .heart-empty {
    top: 13px;
    right: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menu__title .heart-empty {
    top: 13px;
    right: 10px;
  }
}
.menu__title .heart-full {
  position: absolute;
  color: transparent;
  top: 13px;
  right: 25px;
  font-size: 23px;
  opacity: 0;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  transition: opacity 0.6s;
}
@media screen and (min-width: 1024px) {
  .menu__title .heart-full {
    top: 13px;
    right: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menu__title .heart-full {
    top: 13px;
    right: 10px;
  }
}
.menu__title .heart-full:hover {
  cursor: pointer;
  opacity: 1;
}
.menu__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  padding-left: 15px;
}
@media screen and (min-width: 1024px) {
  .menu__description {
    margin-left: 200px;
    padding-left: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menu__description {
    margin: 0 auto;
    padding: 0;
  }
}
.menu__bord {
  border: 1px solid #99E2D0;
  margin-left: 15px;
  width: 40px;
  position: relative;
  top: -5px;
}
@media screen and (min-width: 1024px) {
  .menu__bord {
    margin-left: 200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menu__bord {
    margin: 0 auto;
    top: 5px;
    width: 40px;
  }
}
.menu__cards {
  background: white;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
  margin: 15px;
  padding: 0 15px;
  width: 90%;
  height: 72px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.menu__cards:nth-child(1) {
  animation: cards-load 0.6s ease-in 0.5s forwards;
  transform: scale(0);
}
.menu__cards:nth-child(2) {
  animation: cards-load 0.6s ease-in 0.7s forwards;
  transform: scale(0);
}
.menu__cards:nth-child(3) {
  animation: cards-load 0.6s ease-in 0.9s forwards;
  transform: scale(0);
}
.menu__cards:nth-child(4) {
  animation: cards-load 0.6s ease-in 0.9s forwards;
  transform: scale(0);
}
@media screen and (min-width: 1024px) {
  .menu__cards {
    width: 634px;
    height: 72px;
    margin-left: 200px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .menu__cards {
    width: 634px;
    height: 72px;
    margin: 15px auto;
  }
}
.menu__checked {
  height: 72px;
  width: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  position: absolute;
  right: 0px;
  transition: all 0.5s;
  opacity: 0;
}
.menu__cards:hover .menu__checked {
  width: 59px;
  opacity: 1;
}
.menu__cards:hover p {
  transform: translateX(-52px);
}
.menu__cards .alignement {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__cards h3 {
  width: 300px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.1s;
}
.menu__cards h4 {
  width: 300px;
  font-weight: 300;
  font-size: 15.0431px;
  line-height: 18px;
  margin: 4px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.1s;
}
@media screen and (min-width: 1024px) {
  .menu__cards h4 {
    width: 600px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .menu__cards h4 {
    width: 600px;
  }
}
.menu__cards:hover h4 {
  width: 500px;
  margin-right: 90px;
}
.menu__cards:hover h3 {
  width: 250px;
  margin-right: 90px;
}
@media screen and (min-width: 1024px) {
  .menu__cards:hover h3 {
    width: 600px;
  }
}
.menu__cards p {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #353535;
  transition: transform 0.5s;
}
.menu__cards i {
  color: white;
  font-size: 20px;
}

.order {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}
@media screen and (min-width: 1024px) {
  .order {
    padding: 30px 0;
  }
}
.order__button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: white;
  border: none;
  width: 218px;
  height: 50px;
  background: linear-gradient(-10deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  transition: transform 0.5s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
.order__button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(-10deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

/*** body***/
body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.main-container {
  width: 100%;
  box-sizing: border-box;
  animation: delay-show 0ms 3s both;
}

.page-container {
  width: 100%;
  box-sizing: border-box;
}

/**Loaderr**/
.loader-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: delete 0ms 3s forwards;
  background-color: #F7F7F7;
  background-size: cover;
  background-position: center;
}

.loader {
  border: 16px solid white;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.212);
  border-radius: 50%;
  border-top: 16px solid #FF79DA;
  border-bottom: 16px solid #9356DC;
  width: 120px;
  height: 120px;
  animation: spin 2s ease-in-out;
}

/** Navigation**/
.navigation {
  width: 100%;
  height: 113px;
}
.navigation__logo {
  height: 63px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-widht: 1100px) {
  .navigation__logo {
    height: 65px;
  }
}
.navigation__logo img {
  width: 162px;
}
.navigation__localisation {
  background-color: #eaeaea;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.151);
}
.navigation__localisation .fa-solid {
  color: #353535;
  margin-right: 10px;
}
@media screen and (min-width: 1100px) {
  .navigation__localisation .fa-solid {
    margin-left: 30px;
    font-size: 13px;
  }
}
.navigation__localisation input {
  width: 125px;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  border: none;
  background-color: transparent;
  outline: none;
}
@media screen and (min-width: 1100px) {
  .navigation__localisation input {
    width: 150px;
  }
}

::-moz-placeholder {
  color: #353535;
}

::placeholder {
  color: #353535;
}

/** header */
.header {
  width: 100%;
  height: 235px;
  background: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 30px 5px;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .header {
    padding: 10px 5px;
    height: 160px;
  }
}
@media screen and (min-widht: 1100px) {
  .header {
    height: 210px;
  }
}
.header__title {
  margin: 0px 50px 10px 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
@media screen and (max-width: 1100px) {
  .header__title {
    font-size: 40px;
    line-height: 47px;
  }
}
.header__description {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0 3px 5px 3px;
}
@media screen and (min-width: 1100px) {
  .header__description {
    margin: 25px 0;
  }
}
.header__button {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: white;
  border: none;
  width: 218px;
  height: 50px;
  background: linear-gradient(-10deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  transition: transform 0.5s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .header__button {
    margin-top: 20px;
  }
}
@media screen and (min-widht: 1100px) {
  .header__button {
    margin-top: 0px;
    height: 70px;
  }
}
.header__button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(-10deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.fonctionnement {
  width: 100%;
  padding: 40px 0;
  box-sizing: border-box;
}
@media screen and (min-width: 1100px) {
  .fonctionnement {
    width: 1100px;
    margin: 0 auto;
    padding: 40px 10px;
  }
}
.fonctionnement__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 30px 20px;
}
@media screen and (min-width: 1100px) {
  .fonctionnement__title {
    margin: 0 0 30px 0px;
  }
}
.fonctionnement__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
}
@media screen and (min-widht: 1100px) {
  .fonctionnement__cards {
    flex: row;
    justify-content: flex-start;
  }
}
.fonctionnement__cards .card {
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  cursor: pointer;
  width: 75%;
  height: 72px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  position: relative;
  margin-bottom: 25px;
  transition: all 0.5s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .fonctionnement__cards .card {
    margin: 10px;
    width: 90%;
    padding-left: 0px;
    box-sizing: border-box;
    justify-content: center;
  }
}
@media screen and (min-width: 1100px) {
  .fonctionnement__cards .card {
    margin-right: 50px;
  }
}
.fonctionnement__cards .card:hover {
  background: linear-gradient(200.64deg, rgba(146, 86, 220, 0.2039215686) -5.2%, rgba(255, 121, 217, 0.2196078431) 110.74%);
  transform: translateY(-5px);
}
.fonctionnement__cards .card h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
@media screen and (max-width: 1000px) and (min-width: 1100px) {
  .fonctionnement__cards .card h3 {
    font-size: 14px;
  }
}
.fonctionnement__cards .card i {
  color: #7E7E7E;
  margin-right: 15px;
  font-size: 20px;
}
.fonctionnement__cards .card:hover > .fa-solid {
  color: #9356DC;
}
.fonctionnement__cards .numeros {
  position: absolute;
  left: -10px;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  font-weight: 500;
  font-size: 14.1818px;
  line-height: 17px;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurants {
  width: 100%;
  padding: 40px 0;
  background-color: #F7F7F7;
}
.restaurants__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 30px 20px;
}
@media screen and (min-width: 1100px) {
  .restaurants__title {
    width: 1100px;
    margin: 0 auto 30px auto;
  }
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .restaurants__cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 45%);
    grid-column-gap: 25px;
  }
}
@media screen and (min-width: 1100px) {
  .restaurants__cards {
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
    grid-row-gap: 30px;
  }
}
.restaurants__cards .r-card {
  width: 85%;
  height: 240px;
  border-radius: 15px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.5s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .restaurants__cards .r-card {
    width: 100%;
  }
}
.restaurants__cards .r-card a {
  text-decoration: none;
  color: black;
}
.restaurants__cards .r-card img {
  width: 100%;
  height: 165px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
  margin: 0;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .restaurants__cards .r-card img {
    width: 100%;
  }
}
.restaurants__cards .r-card h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin: 10px 0 5px 14px;
}
.restaurants__cards .r-card h5 {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  margin: 5px 0 5px 14px;
}
.restaurants__cards .r-card .heart-empty {
  font-size: 23px;
  color: transparent;
  -webkit-text-stroke: 1px #000000;
  position: absolute;
  bottom: 30px;
  right: 20px;
}
.restaurants__cards .r-card .heart-full {
  color: transparent;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 23px;
  position: absolute;
  bottom: 30px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.5s;
}
.restaurants__cards .r-card .heart-full:hover {
  opacity: 1;
}
.restaurants__cards .r-card p {
  width: 80px;
  height: 29px;
  color: #008766;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  background: #99E2D0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 10px;
  transition: transform 0.5s;
}
.restaurants__cards .r-card p:hover {
  transform: translateY(-5px);
}

/*SECTION FOOTER*/
.footer {
  display: flex;
  flex-direction: column;
  padding: 12px 25px;
  box-sizing: border-box;
  width: 100%;
  height: 186px;
  background: #353535;
}
@media screen and (min-width: 1100px) {
  .footer {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding-right: 80px;
    height: 100px;
  }
}
.footer__title {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: white;
}
@media screen and (min-width: 1100px) {
  .footer__title {
    margin: 30px 0 0 20px;
    font-size: 18px;
  }
}
.footer__links a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1100px) {
  .footer__links a {
    margin: 30px 0 0 20px;
    font-size: 14px;
  }
}
.footer__links i {
  width: 12px;
  font-size: 14px;
  margin-right: 15px;
}
@media screen and (min-width: 1100px) {
  .footer__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 80px;
  }
}/*# sourceMappingURL=style.css.map */