/** import sass modules **/ /**couleurs**/
@keyframes delete {
  from {
    height: 100vh;
    width: 100%;
  }
  to {
    height: 0vh;
    width: 0%;
  }
}
@keyframes delay-show {
  from {
    transform: scale(0);
    position: fixed;
  }
  to {
    transform: scale(1);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
/*** body***/
body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.main-container {
  width: 100%;
  box-sizing: border-box;
  animation: delay-show 0ms 3s both;
}

.page-container {
  width: 100%;
  box-sizing: border-box;
}

/**Loaderr**/
.loader-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: delete 0ms 3s forwards;
  background-color: #F7F7F7;
  background-size: cover;
  background-position: center;
}

.loader {
  border: 16px solid white;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.212);
  border-radius: 50%;
  border-top: 16px solid #FF79DA;
  border-bottom: 16px solid #9356DC;
  width: 120px;
  height: 120px;
  animation: spin 2s ease-in-out;
}

/** Navigation**/
.navigation {
  width: 100%;
  height: 113px;
}
.navigation__logo {
  height: 63px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-widht: 1100px) {
  .navigation__logo {
    height: 65px;
  }
}
.navigation__logo img {
  width: 162px;
}
.navigation__localisation {
  background-color: #eaeaea;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.151);
}
.navigation__localisation .fa-solid {
  color: #353535;
  margin-right: 10px;
}
@media screen and (min-width: 1100px) {
  .navigation__localisation .fa-solid {
    margin-left: 30px;
    font-size: 13px;
  }
}
.navigation__localisation input {
  width: 125px;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  border: none;
  background-color: transparent;
  outline: none;
}
@media screen and (min-width: 1100px) {
  .navigation__localisation input {
    width: 150px;
  }
}

::-moz-placeholder {
  color: #353535;
}

::placeholder {
  color: #353535;
}

/** header */
.header {
  width: 100%;
  height: 235px;
  background: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 30px 5px;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .header {
    padding: 10px 5px;
    height: 160px;
  }
}
@media screen and (min-widht: 1100px) {
  .header {
    height: 210px;
  }
}
.header__title {
  margin: 0px 50px 10px 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
@media screen and (max-width: 1100px) {
  .header__title {
    font-size: 40px;
    line-height: 47px;
  }
}
.header__description {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0 3px 5px 3px;
}
@media screen and (min-width: 1100px) {
  .header__description {
    margin: 25px 0;
  }
}
.header__button {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: white;
  border: none;
  width: 218px;
  height: 50px;
  background: linear-gradient(-10deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  transition: transform 0.5s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .header__button {
    margin-top: 20px;
  }
}
@media screen and (min-widht: 1100px) {
  .header__button {
    margin-top: 0px;
    height: 70px;
  }
}
.header__button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(-10deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.fonctionnement {
  width: 100%;
  padding: 40px 0;
  box-sizing: border-box;
}
@media screen and (min-width: 1100px) {
  .fonctionnement {
    width: 1100px;
    margin: 0 auto;
    padding: 40px 10px;
  }
}
.fonctionnement__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 30px 20px;
}
@media screen and (min-width: 1100px) {
  .fonctionnement__title {
    margin: 0 0 30px 0px;
  }
}
.fonctionnement__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
}
@media screen and (min-widht: 1100px) {
  .fonctionnement__cards {
    flex: row;
    justify-content: flex-start;
  }
}
.fonctionnement__cards .card {
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  cursor: pointer;
  width: 75%;
  height: 72px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  position: relative;
  margin-bottom: 25px;
  transition: all 0.5s;
}/*# sourceMappingURL=style.css.map */