/** import sass modules **/
@import "menu";
@import "mixins";
@import "variables";
@import "keys";


/*** body***/
body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    @include typo-text;
}

.main-container {
    width: 100%;
    box-sizing: border-box;
    animation: delay-show 0ms 3s both;
}
.page-container {
    width: 100%;
    box-sizing: border-box;
}

/**Loaderr**/
.loader-container {
    height: 100vh;
    width: 100%;
    @include display-flex-center;
    animation: delete 0ms 3s forwards;
    background-color: #F7F7F7;
    background-size: cover;
    background-position: center;
}


.loader {
    border: 16px solid white;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.212);
    border-radius: 50%;
    border-top: 16px solid $secondary-color;
    border-bottom: 16px solid $primary-color;
    width: 120px;
    height: 120px;
    animation: spin 2s ease-in-out;
}


/** Navigation**/

.navigation {
    width: 100%;
    height: 113px;
&__logo {
    height: 63px;
    width: 100%;
    background-color: $body-color;
    @include display-flex-center;

    @media screen and (min-widht: 1100px) {
        height: 65px;
    }  
}
&__logo img{
    width: 162px;
}
&__localisation {
    background-color: #eaeaea;
    width: 100%;
    height: 50px;
    @include display-flex-center;
    box-shadow: 0px -2px 2px rgba(0,0,0,0.151);
}
&__localisation .fa-solid {
    color: $dark-grey;
    margin-right: 10px;
    @media screen and (min-width: 1100px) {
        margin-left: 30px;
        font-size: 13px;
    }
        
    }
    &__localisation input {
        width: 125px;
        font-weight: 600;
        font-size: 15px;
        line-height: 19px;
        border: none;
        background-color: transparent;
        outline: none;

        @media screen and (min-width: 1100px) {
            width: 150px;
            
        }
    }
}
::placeholder {
    color: #353535;
}

/** header */
.header {
    width: 100%;
    height: 235px;
    background: #F7F7F7;
    @include display-flex-column;
    align-items: center;
    box-sizing: border-box;
    padding: 30px 5px;

    @media screen and (min-width: 768px) and (max-width: 1100px) {
        padding: 10px 5px;
        height: 160px;
    }
    @media screen and (min-widht: 1100px) {
        height :210px;
    }
    &__title {
        margin: 0px 50px 10px 50px;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;

        @media screen and (max-width: 1100px){
            font-size: 40px;
            line-height: 47px;
            
        }
    }
    &__description {
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        margin: 0 3px 5px 3px;

        @media screen and (min-width: 1100px) 
        {
            margin: 25px 0;
        
    }
    }
    &__button {
        margin-top: 10px;
        @include button-gradient;

        @media screen and (min-width: 768px) and (max-width: 1100px){
            margin-top: 20px;
            
        }
    @media screen and (min-widht: 1100px){
        margin-top: 0px;
        height: 70px;
        
    }
    }
    &__button:hover{
        @include button-gradient-hover;
    }

        
    }
